* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100%;
  font-size: 18px;
  font-family: var(--main-font);
  background-color: #181818;
  color: white;
}

.gameArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.gameArea input {
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  font-family: var(--main-font);
  outline: none;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.gameArea button {
  padding: 0.5rem;
  font-family: var(--main-font);
  font-size: 1rem;
  outline: none;
}

.gameArea h1 {
  margin-bottom: 1rem;
}

#gameGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.gameGridCell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
  background-color: #181818;
  color: white;
  border: 2px solid #787c7e;
}

.gameInput {
  display: flex;
  flex-direction: column;
}

.playAgain {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: auto;
  height: auto;
  background-color: #181818;
  border: 2px solid whitesmoke;
  padding: 2rem;
  display: none;
}

.playAgain button {
  background-color: rgb(7, 177, 7);
  font-family: var(--main-font);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1rem;
}

.playAgain button:hover {
  background-color: rgb(9, 117, 9);
  transition: ease 0.2s;
}

/* Bounce animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

.bounce {
  animation: bounce 0.3s infinite alternate;
}
